{% extends "base.html" %}

{% block title %} We Make You Bake {% endblock %}

{% block content %}

    <h1>Welcome</h1>

    <div class="intro-container">
        <p>We Make the Recipe You Bake it</p>
        <p>Here you can find a recipe for your favorite dish. You can also add your own recipe to our collection.</p>
        <p>Click on the links Below to get started.</p>
    </div>

    <div class="spacer-50"></div>

    <div class="links">
        <a class="link" href="/recipes">Recipes</a>
        <a class="link" href="/add">Add Recipe</a>
        <a class="link" href="/login">Login</a>
        <a class="link" href="/sign-up">Sign Up</a>
    </div>

{% endblock %}